<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>655979494550-jjhjptc1pj2oov53q18ib42b3evbri8o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655979494550-jjhjptc1pj2oov53q18ib42b3evbri8o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>655979494550-185qnfeov66co1iln29jcsvj26vemef8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBSHlN9Vot47G0N9u6caFddisKB3uxnOj4</string>
	<key>GCM_SENDER_ID</key>
	<string>655979494550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookStoreApp</string>
	<key>PROJECT_ID</key>
	<string>book-store-app-c7e70</string>
	<key>STORAGE_BUCKET</key>
	<string>book-store-app-c7e70.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655979494550:ios:3fbf689f9434a3990916b7</string>
</dict>
</plist>